.hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../../public/assets/hero-road.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
   
}

.hero-layer{

    height: 100%;
    width: 100%;

    color: #fff;
}

.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    z-index: 1000;
}

.hero-profile{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -20%);
}

@media (max-width:800px) {
    .hero-profile{
        display: flex;
        flex-direction: column;
    }
}